@import url('https://fonts.googleapis.com/css?family=Notable');
/*
Hallo o/ 
cmyk(0%, 22%, 83%, 0%);
*/

body {
	font-family: Ariel, Helvetica, sans-serif;
	margin: 0px;
}
aside {
	display: grid;
	grid-area: aside;
	background-color: #D0CECE;
}
p::first-letter{
	font-size: 24px;
}
a:hover {
	color: red;
}
a:active {
	color: pink;
}
td{
	border: solid 2px gray;
	border-width: 4px;
	border-style: double double double double;
}
tr:first-child {
	background-color: #FF0;
}
tr:nth-child(even) {
	background-color: #CFF;
 }
tr:nth-child(odd) {
	background-color: #FFF;
 }
label {
	display:block;
	background-color: #305496;
}
fieldset > label {
	background-color: #BDD7EE;
}
#checkbox {
	position: absolute;
	display: none;
}
#logo {
	grid-area: logo;
	width: 100%;
	height: 50px;
	}
#title {
	grid-area: title;
	background-color: #757171;
	margin: 0;
}
#payoff {
	grid-area: payoff;
}
#nav {
	grid-area: nav;
	background-color: #4472C4;
}
#article-pricing {
	grid-area: article-pricing;
	background-color: #FFF2CC;
}
#article1 {
	grid-area: article1;
	background-color: #FFF2CC;
	letter-spacing: 1px;
	line-height: 1em;
	text-indent: 1em;
	word-spacing: 1rem;
	font-family: Notable;
	color: rgb(255, 199, 43);
	text-transform: uppercase;
}
#article2 {
	grid-area: article2;
	background-color: #E2EFDA;
}
#article3 {
	grid-area: article3;
	background-color: #ACB9CA;
}
#article4{
	grid-area: article4;
	background-color: #C6E0B4;
}
#article5 {
	grid-area: article5;
	background-color: #DDEBF7;
}
#article6{
	grid-area: article6;
	background-color: #FCE4D6;
}
#product1 > img {
	grid-area: product1;
	width: 100%;
	height: 100%;
}
#product2 > img {
	grid-area: product2;
	width: 100%;
	height: 100%;
}
#product3 > img {
	grid-area: product3;
	width: 100%;
	height: 100%;
}
#table {
	grid-area: table;
	border: solid 3px black;
	background-color: #BDD7EE;
	width: 100%;
}
#tablefooter {
	grid-area: tablefooter;
	border: solid 3px black;
	background-color: #BDD7EE;
}
#form {
	grid-area: form;
	background-color: #BDD7EE;
}
#contactinfo {
	grid-area: contactinfo;
	background-color: #FFF2CC;
}
#cookiestatement {
		position: fixed;
		bottom: 0;
		right: 0;
		width: 40%;
		color: #FFF;
		background-color: #FA0;
		opacity: 0.5;
		z-index: 9999;
}
.flexbox {
		display: flex;
		flex-wrap: wrap;
	}
.grid-header {
	display: grid;
	border: solid 5px red;
}
.grid {
	display: grid;
	border: solid 5px blue;
}
.grid-aside {
	display: grid;
	border: solid 5px purple;
}
.grid-footer {
	display: grid;
	border: solid 5px orange;
}
@media screen and (max-width: 480px) 
{
	body {
		font-size: 9px;
	}
	section {
		background-color: #fdff78;
	}
	article {
		flex-basis: 100%;
		flex-shrink: 1;
		flex-grow: 0;
		background-color: #f5aa4e;
	}
	#homepage label {
		display: flex;
		flex: 40%;
		background: lightgrey;
	}
	.articleimg {
		  float: left;
		  height: 200px;
		  width: 200px;
	}
	.aside-pc {
		display: none;
	}
	.header {
		height: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
	}
	#hamburgermenu {
		flex: 40%;
		display:none;
		order:4;
		color: white;
		list-style-type: none;
		grid-area: hamburgermenu;
	}
	#checkbox:checked + label +#nav{
		display:grid;
		color: white;
		padding:0;
	}
	#homepage #checkbox:checked + label + #nav {
		display:flex;
		flex-basis: 40%;
		order:3;
	}
	#aside-tablet {
		display: flex;
		flex-basis: 100%;
	}
	#logoflex { 
		display: none;
	}
	#websitetitle {
		flex-basis: 60%;
		background-color: #88f;
		margin: 0;
		order:0;
	}
	#menulabel {
		flex-basis: 40%;
		order:1;
	}
	#payoff {
		flex-basis: 60%;
		background-color: #AEAAAA;
		margin: 0;
		order:2;
	}
	#article1 {
		order: 3;
	}
	#article3 {
		order: 1;
	}
	#article4 {
		display: none;
	}
	#article6 {
		display: none;
	}
	#article-pricing {
		display: none;
	}
	#promotionvideo {
		width: 100px;
		flex-basis: 100%;
	}
	#logo {
		display:none;
	}
	#nav {
		display:none;
	}
	#menu {
		grid-area: menu;
	}	
	#homepage #cookiestatement {
		width: 33%
	}
	#product #cookiestatement {
		width: 35%;
	}
	#pricing #cookiestatement {
		width: 50%;
	}
	#contact #cookiestatement{
		width: 40%;	
	}
	#product .grid-header {
		display: grid;
		grid-template-columns: 65% 35%;
		border: solid 5px red;
		grid-template-areas:
			'title hamburgermenu' 
			'payoff nav'
		;
	}
	#product .grid {
		display: grid;
		grid-template-columns: 65% 35%;
		border: solid 5px blue;
		grid-template-areas:
			'article5 article5'
			'article5 article5' 
			'article5 article5' 
			'article3 article3' 
			'article3 article3' 
			'article3 article3' 
			'article2 article2'
			'article2 article2'
			'article2 article2'
			'article1 article1'
			'article1 article1'
			'article1 article1'
			'aside    aside   '
		;
	}
	#product .grid-aside {
		display: grid;
		grid-template-columns: 100%;
		border: solid 5px purple;
		grid-template-areas:
			'product1'
			'product2'
			'product3'
		;
	}
	#product .grid-footer {
		display: grid;
		grid-template-columns: 65% 35%;
		border: solid 5px orange;
		grid-template-areas:
			'copy null'
			'copy null'
		;
	}
	#pricing .grid-header {
		display: grid;
		grid-template-columns: 50% 50%;
		border: solid 5px red;
		grid-template-areas:
			'title hamburgermenu' 
			'payoff nav'
		;
	}
	#pricing .grid {
		display: grid;
		grid-template-columns: 100%;
		border: solid 5px blue;
		grid-template-areas:
			'table    	'
			'table    	'
			'table    	'
			'table      '
			'table      '
			'tablefooter'
			'aside      '
		;
	}
	#pricing .grid-aside {
		display: grid;
		grid-template-columns: 100%;
		border: solid 5px purple;
		grid-template-areas:
			'product1'
			'product2'
			'product3'
		;
	}
	#pricing .grid-footer {
		display: grid;
		grid-template-columns: 50% 50%;
		border: solid 5px orange;
		grid-template-areas:
			'copy .'
			'copy .'
		;
	}
	#contact .grid-header {
		display: grid;
		grid-template-columns: 60% 40%;
		border: solid 5px red;
		grid-template-areas:
			'title  hamburgermenu' 
			'payoff nav			 '
		;
	}
	#contact .grid {
		display: grid;
		grid-template-columns: 60% 40%;
		border: solid 5px blue;
		grid-template-areas:
			'contactinfo contactinfo'
			'form    	 form       '
			'form    	 form       '
			'form   	 form       '
			'form        form       '
			'form        form       '
			'aside       aside      '
			'aside       aside      '
			'aside       aside      '
		;
	}
	#contact .grid-aside {
		display: grid;
		border: solid 5px purple;
		grid-template-columns: 100%;
		grid-template-areas:
			'product1'
			'product2'
			'product3'
		;
	}
	#contact .grid-footer {
		display: grid;
		grid-template-columns: 60% 40%;
		border: solid 5px orange;
		grid-template-areas:
			'copy .'
			'copy .'
		;
	}
	
}
@media screen and (min-width: 481px) and (max-width: 1279px)
{
	section {
		
		background-color: #fdff78;
	}
	article {
		flex-basis: 100%;
		flex-shrink: 1;
		flex-grow: 0;
		background-color: #f5aa4e;
	}
	.articleimg {
		  float: left;
		  height: 200px;
		  width: 200px;
	}
	.aside-pc {
		display: none;
	}
	.navbaritem {
		background-color: #37eb34;
		padding: 0px 20px 0px 20px;
	}
	#navbarlist {
		background-color: #eb3434;
		flex-basis: 33%;
		display: flex;
		flex-wrap: nowrap;
		flex-shrink: 2;
		list-style-type: none;
	}
	#menulabel {
		display:none;
	}
	#aside-tablet {
		display: flex;
		flex-basis: 100%;
	}
	#logoflex { 
		display: flex;
		flex-basis: 100%;
		width: 100px;
		height: 100px;
		flex-grow: 1;
		flex-shrink: 1;
	}
	#websitetitle {
		flex-basis: 100%;
		background-color: #88f;
		margin: 0;
	}
	#payoff {
		flex-basis: 100%;
		background-color: #AEAAAA;
		margin: 0;
	}
	#hamburgermenu {
		display:none;
	}
	#navbar {
		flex-basis: 100%;
	}
	#hamburger {
		display:none;
	}	
	#article1 {
		order: 3;
	}
	#article3 {
		order: 1;
	}
	#homepage #nav {
		flex-basis: 100%;
	}
	#promotionvideo {
		width: 100px;
		flex-basis: 100%;
	}	
	#homepage #cookiestatement {
		width: 20%
	}
	#product #cookiestatement {
		width: 50%;
	}
	#pricing #cookiestatement {
		width: 50%;
	}
	#contact #cookiestatement{
		width: 25%;	
	}
	#pricing #product1 {
		display: none;
	}
	#product #product3{
		display: none;
	}
	#article4 {
		display:none
	}
	#product .grid-header {
		grid-template-columns: 100%;
		grid-template-areas:
			'logo' 
			'title'
			'payoff'
			'nav   '
		;
	}
	#product .grid {
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'article1 article2'
			'article1 article2' 
			'article3 article2' 
			'article3 article5' 
			'article3 article5' 
			'article3 article5' 
			'article6 article6'
			'article6 article6'
			'aside    aside   '
		;
	}
	#product .grid-aside {
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'product1 product2'
		;
	}
	#product .grid-footer {
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'copy null'
			'copy null'
		;
	}
	#pricing .grid-header {
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'logo     logo 	' 
			'title    title '
			'payoff   payoff'
			'nav      nav 	'
		;
	}
	#pricing .grid {
		grid-template-columns: 50%;
		grid-template-areas:
			'article-pricing article-pricing'
			'table    		 table 			'
			'table    		 table 			'
			'table    		 table 			'
			'table      	 table 			'
			'table      	 table 			'
			'tablefooter	 tablefooter	'
			'aside      	 aside			'
		;
	}
	#pricing .grid-aside {
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'product2 product3'
		;
	}
	#pricing .grid-footer {
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'copy null'
			'copy null'
		;
	}
	#contact .grid-header {
		grid-template-columns: 75% 25%;
		grid-template-areas:
			'logo     logo  ' 
			'title    title '
			'payoff   payoff'
			'nav      nav 	'
		;
	}
	#contact .grid {
		grid-template-columns: 75% 25%;
		grid-template-areas:
			'contactinfo contactinfo'
			'form    	 aside      '
			'form    	 aside      '
			'form   	 aside      '
			'form        aside      '
			'form        aside      '
		;
	}
	#contact .grid-aside {
		grid-template-columns: 100%;
		grid-template-areas:
			'product1'
			'product2'
			'product3'
		;
	}
	#contact .grid-footer {
		grid-template-columns: 75% 25%;
		grid-template-areas:
			'copy .'
			'copy .'
		;
	}
}
@media screen and (min-width: 1280px) {
	section {
		background-color: #fdff78;
	}
	article {
		flex-basis: 80%;
		background-color: #f5aa4e;
	}
	.articleimg {
		  float: right;
		  height: 200px;
		  width: 200px;
	}
	.aside-pc {
		flex-basis: 20%;
		background-color: #8157b5;
	}
	#homepage #nav {
		flex-basis: 100%;
	}
	#menulabel {
		display:none;
	}
	#aside-tablet {
		display: none;
	}
	#logoflex { 
		flex-basis: 100%;
		width: 100px;
		height: 100px;
	}
	#websitetitle {
		flex-basis: 100%;
		background-color: #88f;
		margin: 0;
	}
	#payoff {
		flex-basis: 100%;
		background-color: #AEAAAA;
		margin: 0;
	}
	#hamburgermenu {
		display:none;
	}	
	#promotionvideo {
		width: 100px;
		flex-basis: 100%;
	}	
	#homepage #cookiestatement {
		width: 20%
	}
	#product #cookiestatement {
		width: 25%;
	}
	#pricing #cookiestatement {
		width: 25%;
	}
	#contact #cookiestatement{
		width: 30%;	
	}
	#product .grid-header {
		grid-template-columns: 40% 35% 25%;
		grid-template-areas:
			'logo     logo 	   logo	   ' 
			'title    title    title   '
			'payoff   payoff   payoff  '
			'nav      nav 	   nav	   '
		;
	}
	#product .grid {
		grid-template-columns: 40% 35% 25%;
		grid-template-areas:
			'article2 article1 article3'
			'article2 article1 article3' 
			'article5 article1 article3' 
			'article5 article1 article4' 
			'article5 article1 article4' 
			'article5 article1 article4' 
			'article5 article6 article6'
			'aside    aside    aside   '
		;
	}
	#product .grid-aside {
		grid-template-columns: 40% 35% 25%;
		grid-template-areas:
			'product1 product2 product3'
		;
	}
	#product .grid-footer {
		grid-template-columns: 40% 35% 25%;
		grid-template-areas:
			'copy copy null'
			'copy copy null'
		;
}
	#pricing .grid-header {
		display: grid;
		grid-template-columns: 40% 35% 25%;
		border: solid 5px red;
		grid-template-areas:
			'logo     logo 	   logo	   ' 
			'title    title    title   '
			'payoff   payoff   payoff  '
			'nav      nav 	   nav	   '
		;
	}
	#pricing .grid {
		display: grid;
		grid-template-columns: 40% 35% 25%;
		border: solid 5px blue;
		grid-template-areas:
			'article-pricing article-pricing article-pricing'
			'table    	 	 table       	 aside			'
			'table    	 	 table       	 aside			'
			'table    	 	 table       	 aside			'
			'table       	 table       	 aside			'
			'table       	 table    	 	 aside			'
			'tablefooter 	 tablefooter 	 aside			'
		;
	}
	#pricing .grid-aside {
		display: grid;
		grid-template-columns: 100%;
		border: solid 5px purple;
		grid-template-areas:
			'product1'
			'product2'
			'product3'
		;
	}
	#contact .grid-header {
		display: grid;
		grid-template-columns: 40% 30% 30%;
		border: solid 5px red;
		grid-template-areas:
			'logo     logo 	   logo	   ' 
			'title    title    title   '
			'payoff   payoff   payoff  '
			'nav      nav 	   nav	   '
		;
	}
	#contact .grid {
		display: grid;
		grid-template-columns: 40% 30% 30%;
		border: solid 5px blue;
		grid-template-areas:
			'contactinfo contactinfo contactinfo'
			'form    	 form        aside      '
			'form    	 form        aside      '
			'form   	 form        aside      '
			'form        form        aside      '
			'form        form        aside      '
		;
	}
	#contact .grid-aside {
		display: grid;
		border: solid 5px purple;
		grid-template-areas:
			'product1'
			'product2'
			'product3'
		;
	}
	#contact .grid-footer {
		display: grid;
		grid-template-columns: 40% 30% 30%;
		border: solid 5px orange;
		grid-template-areas:
			'copy copy .'
			'copy copy .'
		;
	}
}
	
	



